nav {
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav a {
  color: white;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo {
  background: url("https://ik.imagekit.io/razaq/mysite/raz1_Sn23ND99-.jpg")
    no-repeat center center/cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.mobile-logo {
  display: none;
}

.menu-btn {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 40px;
  display: none;
}

.logo-wrapper h1:hover {
  color: yellow;
  transition: 0.3s ease-in;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
}

.main-nav li a {
  color: white;
}

.main-nav li a:hover {
  color: yellow;
  transition: 0.3s ease-in;
}

.main-nav li a i {
  padding: 5px;
}
